@font-face {
  font-family: "Satoshi Variable";
  src: url("/fonts/SatoshiVariable-Bold.woff2") format("woff2"), url("/fonts/SatoshiVariable-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Satoshi Variable";
  src: url("/fonts/SatoshiVariable-BoldItalic.woff2") format("woff2"), url("/fonts/SatoshiVariable-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Regular.woff2") format("woff2"), url("/fonts/Satoshi-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Bold.woff2") format("woff2"), url("/fonts/Satoshi-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Light.woff2") format("woff2"), url("/fonts/Satoshi-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Medium.woff2") format("woff2"), url("/fonts/Satoshi-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Satoshi";
}

ul {
  list-style-type: none;
}

ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.container {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.footer {
  background-color: #f0f0f0;
}

.stay__top {
  justify-content: space-between;
  border-radius: 20px;
  padding-top: 36px;
  padding-right: 64px;
  padding-bottom: 36px;
  padding-left: 64px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: #000000;
  display: flex;
  align-items: center;
  margin-top: 80.42px;
}

.stay__top-title {
  max-width: 551px;
  color: white;
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
  letter-spacing: 0%;
}

.stay__top-inp {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 52px;
  padding-right: 124px;
  border: none;
  border-radius: 62px;
}

.stay__top-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  border-radius: 62px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: white;
  margin-top: 14px;
  border: none;
  font-family: Satoshi;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  cursor: pointer;
}

.footer__top {
  display: flex;
  justify-content: center;
  gap: 113.5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1019607843);
  padding-bottom: 50px;
  padding-top: 100px;
}

.footer__right-title {
  font-family: Satoshi;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 25px;
}

.logo {
  width: 167px;
  height: 23px;
}

.sponsor-1 {
  width: 28px;
  height: 28px;
}

.sponsor-2 {
  width: 28px;
  height: 28px;
}

.sponsor-3 {
  width: 28px;
  height: 28px;
}

.sponsor-4 {
  width: 28px;
  height: 28px;
}

.footer__right-sponsors {
  display: flex;
  gap: 12px;
  margin-top: 35px;
}

.footer__left {
  display: flex;
  justify-content: center;
  gap: 113.5px;
}

.footer__item-title {
  font-family: Satoshi;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #000000;
}

.footer__item-item {
  font-family: Satoshi;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 26px;
}

.footer__item-item:hover {
  color: #000000;
}

.footer__btn {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  padding-bottom: 88px;
}

.footer__btn-title {
  font-family: Satoshi;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 0.6);
}

.footer__payment-method {
  display: flex;
}

.VISA {
  width: 46.61px;
  height: 30.03px;
}

.Master__Card {
  width: 46.61px;
  height: 30.03px;
}

.PayPal {
  width: 46.61px;
  height: 30.03px;
}

.Apple__Pay {
  width: 46.61px;
  height: 30.03px;
}

.Google__Pay {
  width: 46.61px;
  height: 30.03px;
}

@media only screen and (max-width: 440px) {
  .stay__top {
    flex-wrap: wrap;
    margin-left: 16px;
    margin-right: 16px;
    justify-content: center;
  }
  .stay__top-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 0%;
    margin-bottom: 32px;
  }
  .footer__top {
    flex-wrap: wrap;
    justify-content: start;
    gap: 24.42px;
  }
  .footer__left {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
  }
  .footer__right {
    flex-wrap: wrap;
  }
  .footer__btn {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__btn-title {
    margin-bottom: 10px;
  }
}/*# sourceMappingURL=main.css.map */