.companys {
    background-color: black;
}
.container {
}
.companys__out {
}
.companys__inner {
    padding-top: 44px;
    padding-bottom: 44px;
    margin-top: 60px;

}
.companys__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1240px;
    flex-wrap: wrap;
}
.companys__item {
}
.companys__item-img {
}

@media only screen and (max-width: 440px){
   .companys__list{
    justify-content: center;
    gap: 25px;
   }
   .companys__inner{
    margin-top: 0;
   }
}