.header {
}
.header__out {
}
.header__inner {
}
.header__top {
  background-color: black;
}
.header__top-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}
.header__top-span {
  display: flex;
  align-items: center;
  gap: 5px;
}
.header__top-title {
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}
.header__top-link {
  color: white;
  text-decoration: dashed solid white;
}
.header__top-remove-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.header__top-remove-img {
}

.header__inner {
  border-bottom: 1px solid rgba(99, 99, 99, 0.315);
}
.header__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header__logo {
}
.header__logo-img {
}
.header__bottom-list {
  width: 321px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.haeder__bottom-item {
  position: relative;
}
.haeder__bottom-item:nth-child(1):before {
  content: "";
  position: absolute;
  background-image: url("/imgs/Frame\ \(4\).svg");
  width: 16px;
  height: 16px;
  top: 4px;
  left: 40px;
}
.header__bottom-item-list {
  position: absolute;
  top: 20px;
  display: none;
  z-index: 2;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;

  border-top: 1px solid grey;
}
.haeder__bottom-item:hover > .header__bottom-item-list {
  display: block;
  transition: all 0.5s linear;
}
.haeder__bottom-item:hover:nth-child(1):before {
  transform: rotateX(180deg);
}

.header__bottom-item-item {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}
.header__bottom-item-item:hover {
  background-color: rgba(128, 128, 128, 0.068);
}
.header__bottom-item-item-link {
  color: black;
}
.header__bottom-item-link {
  color: black;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}
.header__bottom-inp {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 52px;
  width: 577px;
  border: none;
  background-color: #f0f0f0;
  border-radius: 62px;
  position: relative;
}
.header__bottom-inp::before {
  content: "";
  position: absolute;
  background-image: url("/imgs/Frame\ \(3\).svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
}
.header__bottom-llist {
  display: flex;
  align-items: center;
  gap: 14px;
}
.header__bottom-iitem {
}
.header__bottom-iitem-link {
}
.header__bottom-iitem-img {
}
.header__bottom-burbtn {
  border: none;
  background-color: transparent;
  display: none;
}

.header__serchbtn {
  border: none;
  background-color: transparent;
  display: none;
}

@media only screen and (max-width: 440px) {
  .header__top-title {
    font-size: 10px;
  }
  .header__top-link {
    font-size: 12px;
  }
  .header__bottom-burbtn {
    display: block;
  }
  .header__bottom-list {
    display: none;
  }
  .header__list-block {
    display: flex;
    position: absolute;
    background-color: white;
    top: 100px;
    z-index: 2;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .haeder__bottom-item {
  }
  .header__bottom-inp {
    display: none;
  }
  .header__bottom-inp-block {
    display: block;
    position: absolute;
    max-width: 300px;
    top: 100px;
  }
  .header__serchbtn {
    display: block;
  }
}
